<div class="block-demo">
    <div class="innder-block">
        <h1>{{ block.heading }}</h1>
        <p>{{ block.content }}</p>
        <img src="{{ Image( block.image ).src }}" />
    </div>
</div>